@import "tailwindcss";

@theme {
    --color-main: #11BE93;
    --color-secondary: #499CE4;
    --color-black: #13181A;
    --color-white: #F8F8F8;
    --color-gray: #546066;

    --font-main: "Albert Sans", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}